python-dotenv==1.0.1
Flask==3.0.3
Flask-Cors==4.0.1
azure-storage-blob==12.21.0
azure-search-documents==11.5.1
pypdf==4.3.1
python-docx==1.1.2
python-pptx==1.0.1
langchain==0.2.12
langchain-openai==0.1.20